USE [Tetris]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChangeUsername]    Script Date: 1/27/2015 1:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ChangeUsername]
	@AccountID	int,
	@Username	varchar(50)
AS
BEGIN
	UPDATE	Accounts
	SET		Accounts.Username	= @Username
	WHERE	@AccountID			= @AccountID
END

GO
