USE [Tetris]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateMatchAccount]    Script Date: 1/27/2015 1:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateMatchAccount]
	@MatchID		int,
	@AccountID		int,
	@CustomPieceID	int
AS
BEGIN
	UPDATE	MatchAccounts
	SET		MatchAccounts.CustomPieceID	=	@CustomPieceID
	WHERE	MatchAccounts.AccountID		=	@AccountID
	AND		MatchAccounts.MatchID		=	@MatchID
END

GO
