<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITetrisConnection" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/TetrisConnection/TetrisConnection.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITetrisConnection"
                contract="TetrisConnectionLocal.ITetrisConnection" name="BasicHttpBinding_ITetrisConnection" />
        </client>
    </system.serviceModel>
</configuration>